:root {
 --font-size: 16px;
 --primary-Brand: #4D5AE5;
 --pressed-state: #404bbf;
 --dark: #2E2F42;
 --success: #31D0AA;
 --text: #434455;
 --subtle-Text: #8E8F99;
 --accent: #E7E9FC;
 --light: #F4F4FD;
 --hero-background: #2E2F42;
 --white-background: #FFFFFF;
 --modal-background:  #FCFCFC;
}
body {
    font-family: 'Roboto', sans-serif;
    color: var(--text);
    background: var(--white-background);
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-Brand);
    }
.header span{
    color: var(--dark);
}
.footer span{
    color: var(--light);
    }
.link {
    text-decoration: none;
}
.list {
    list-style: none;
}
.header-menu {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--hero-background);   
}
.header-contacts {
     font-style: normal;
}
.header-menu:hover,
.header-menu:focus {
    color: var(--pressed-state);
}
.mail-phone {
    font-style: normal;
}
.header-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text);
}
.header-link:hover,
.header-link:focus {
 color: var(--pressed-state);
}
.basis {
background-color: var(--hero-background);
}
.title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white-background);
}
.main-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: var(--primary-Brand);
    color: var(--white-background);
}
.main-btn:hover,
.main-btn:focus {
    background-color: var(--pressed-state);
    cursor: pointer;
}
.what-doing {
 font-size: 36px;
 line-height: 1.11;
 text-align: center;
 letter-spacing: 0.02em;
 text-transform: capitalize;
 color: var(--dark);
}
.team {
    background-color: var(--light);
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    }
.worker {
    background-color: var(--white-background);
}
.description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.projects-img {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark);
}
.program {
    color: var(--text);
    letter-spacing: 0.02em;
    line-height: 1.5;
}
footer {
    background-color: var(--dark);
}
.footer-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--light);
}
.main-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: var(--light);
    color: var(--primary-Brand);
}
.main-button:hover,
.main-button:focus {
    background: var(--pressed-state);
    color: var(--white-background);
    cursor: pointer;
}
.features {
 font-weight: 500;
 font-size: 20px;
 line-height: 1.2;
 letter-spacing: 0.02em;
 color: var(--dark);
}
.team-studio {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--dark);
}
.developer {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark);
}